@page
@model WebApplication2.Pages.NewPageModel
@{
}

<div class="text-center">
    <h1 class="display-4">Новая страница</h1>
    <p>Сделано на Razor Pages <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
